body {
    background-color: #f5f5f0;
    /* グレージュ */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: white;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.site-logo {
    font-style: italic;
    color: orange;
    margin: 0;
    font-size: 24px;
}

h2 {
    margin-bottom: 1rem;
}

form div {
    margin-bottom: 1rem;
}

button {
    margin-right: 1rem;
}